/* Classic style for WampServer */

* {margin: 0;padding: 0;}

html {
	background: #ddd;
}

body {
	margin: 1em 3em;
	padding: 1em 3em;
	font: 80%/1.4 tahoma, arial, helvetica, lucida sans, sans-serif;
	border: 1px solid #999;
	background: #eee;
	position: relative;
}

abbr {
	font-variant: none;
	border:none;
	text-decoration:none;
}

.innerhead {
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	padding-bottom: 0em;
	border-bottom: 1px solid #999;
	padding-left:8em;
	height: 70px;
	background: url('img/gifLogo1.gif') 0 0 no-repeat;
}

.utility {
	position: absolute;
	right: 3em;
	top: 70px;
	font-size: 0.85em;
}

.utility li {
	display: inline;
	padding:0;
	margin:0;
}

h2 {
	margin: 0.8em 0 0 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#head ul li, dl ul li, #foot li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0 0.4em;
}

ul.aliases, ul.projects, ul.tools, ul.vhost {
	list-style: none;
	line-height: 23px;
}

ul.projects {
	max-width:230px;
}

ul.aliases a, ul.projects a, ul.tools a ,ul.vhost a {
	padding-left: 22px;
	background: url('img/pngFolder.png') 0 100% no-repeat;
}

ul.tools a {
	background: url('img/pngWrench.png') 0 100% no-repeat;
}

ul.aliases a, ul.vhost a {
	background: url('img/pngFolderGo.png') 0 100% no-repeat;
}

li.projectsdir, li.phpmynot {
	line-height:95%;
	font-size: 0.72em;
	color: #04569A;
	margin-top:10px;
	padding-right:15px;
}

li.phpmynot {
	margin:0;
	padding:0 0 0 22px;
	white-space:nowrap;
	color:red;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	text-align: right;
	width: 15em;
	clear: both;
}

dd {
	margin: -1.35em 0 0 16em;
	padding-bottom: 0.4em;
	overflow: auto;
}
dd ul li {
	float: left;
	display: block;
	width: 16.5%;
  min-width: 140px;
	margin: 0;
	padding: 0 0 0 20px;
	background: url('img/pngPlugin.png') 2px 50% no-repeat;
	line-height: 1.35;
}

dd.ddphpext {
	margin-left:1.5em;
}

ul.phpext {
	margin-top:1.5em;
}

ul.phpext li {
	width: 6%;
  min-width: 100px;
}

.divider1 {
   border-top:1px solid #999;
}

.divider2 {
    clear:both;
}

a {
	color: #024378;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #04569A;
	text-decoration: underline;
}

#foot, #error {
	text-align: center;
	margin-top: 1.8em;
	border-top: 1px solid #999;
	padding-top: 1em;
	font-size: 0.85em;
}

.column {
    min-width: 220px;
    float:left;
}

.three-columns .column {
    min-width: 32%;
}
.four-columns .column {
    min-width: 23%;
}

pre {
 white-space:pre-wrap;
 overflow-x:auto;
 font-size:1.4em;
 border: 1px solid #999;
 padding:1em;
}

@media screen and (max-width: 750px) {
    dt {
    	text-align: left;
    	width: 100%;
    	clear: left;
        margin: 2% 0 0 0;
    }

    dd {
    	margin: 0;
    	padding: 0.5% 1.5% 1% 1.5%;
    }
}