*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}
@font-face{
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
@keyframes mascotmove{
    0%   {transform: translateX(0vw);opacity: 0;}
    100% {transform: translateX(2.19vw);opacity: 1;}
}
@media(max-width: 640px){
    
}
#sign-in-bg{
    background-image: url('../media/bg1.png');
    width: 100vw;
    height: 100vh;
}
#noteffy-title{
    width:  10.61vw;
    height: 4.02vw;
    padding-top: 1.46vw;
    padding-left: 1.46vw;
    position: absolute;
}
#mascot-1{
    width: 40.26vw;
    height: 35.13vw;
    padding-left:  5.12vw;
    padding-top: 6.58vw;
    animation: mascotmove 0.9s;
    animation-fill-mode: forwards;
}
.box-container{
    position: absolute;
    display: inline;
    padding-top: 1.83vw;
}
.white-box{
    width: 51.97vw;
    height: 91.65vh;
    overflow-y:scroll;
    scrollbar-color: rgba(0,0,0,0);
    float: right;
    padding-right: 0.73vw;
    background-color: #fff;
    border-radius: 7.32vw;
    position: absolute;
    display: block;
}
.white-box::-webkit-scrollbar { 
    /* display: none; */
    border-radius: 5%;
}
#title-heading{
    font-family: codec-extrabold;
    font-size: 3.66vw;
    padding-top: 5.49vw;
    padding-left: 4.02vw;
}
#form-1{
    flex-direction:column;
    flex-basis:20%;
    padding-left: 5.71vw;
    padding-top: 2.19vw;
}
#form-2{
    display:flex;
    flex-direction:column;
    padding-left: 5.71vw;
    padding-top: 1.46vw;
}
input, label, #adminswitch{
    display:relative;
}
label{
    font-family: codec-extrabold;
}
#form-1 input,#form-2 input{
    border: 1px solid #b8b8b8;
    width: 20.89vw;
    height: 2.99vw;
    border-radius: 2.19vw;
    font-family: codec-extrabold;
    padding-left: 10px;
}
.form1-input,.form2-input{
    border: 1px solid #b8b8b8;
    width: 24.15vw;
    height: 3.19vh;
    border-radius: 2.19vw;
    font-family: codec-extrabold;
}
.log-bbt{
    text-decoration: none;
    font-family: codec-extrabold;
    border-radius: 1.46vw;
    background-color: #1c1c1c;
    width: 7.32vw;
    height: 3.29vw;
    text-align: center;
    color: #ffffff;
    border: none;
}
.log-bbt:hover{
    background-color: grey;
    color: #000000;
    transition: 0.3s;
    cursor: pointer;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 3.66vw;
    height: 1.75vw;
    margin-left: 1.46vw;
}
#adminswitch{
    position:relative;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    inset:0 0 0 0;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid #1c1c1c;
}
.slider1:hover{
    box-shadow: 0 0 10px 2px #00ff15;
}
.slider:before{
    position: absolute;
    content: "";
    height: 1.09vw;
    width: 1.09vw;
    left: 0.29vw;
    bottom: 0.29vw;
    background-color: #00ff15;
    -webkit-transition: 0.4s;
    transition: 0.5s;
}
.slider1{
    background-color:white;
}
input:checked + .slider{
    background-color: #fff;
}
input:checked + .slider:before{
    transform: translateX(1.68vw);
}           
.slider.round{
    border-radius: 3.22vw;
}
.slider.round:before{
    border-radius: 50%;
}
.sign-container{
    display: inline-block;
}
.sign-container1{
    display: inline-block;
    padding-top: 35%;
}
.sign-and-toggle-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0;
    width: 18.66vw;
}
#form-container2{
    display: none;
}
#otpform{
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 10%;
    align-items: center;
    justify-content: center;
}
#otpform ul{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
}
#otpform ul li{
    list-style: none;
    font-family: codec-extrabold;
}
#otpform ul li input{
    width: 30px;
		height: 50px;content:'';
        background-color: grey;
		border: none;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		font-family: 'Raleway', sans-serif;
		font-weight: 200;
		color: white;
		margin: 0 2px;
}

#otpform ul li input[value=""]{
    background-color: rgba(255,0,0,0.4);
}
#otp-heading{
    font-family: codec-extrabold;
}
#otp-submit-bbt{
    cursor: pointer;
    text-decoration: none;
    font-family: codec-extrabold;
    border-radius: 1.46vw;
    background-color: #ffffff;
    width: 7.32vw;
    height: 3.29vw;
    text-align: center;
    color: #1c1c1c;
    border: none;
    transition: 0.3s;
}
#otp-submit-bbt:hover{
    background-color: #1c1c1c;
    color: #ffffff;
    transition: 0.3s;
}