@font-face{
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}
@font-face{
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../media/statsBG.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}
#container{
    float: left;
    height: 60%;
    width: 60%;
    font-size: 20;
    padding: 2%;
    border-radius: 1rem; 
    padding-top: 6%;
}
#context{
    padding: 2%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow:-2px 2px 2px;
}
#load{
    position: absolute;
    top: 5%;
    left: 4%;
    transition: linear 1s;
}
#page-header{
    width: 100%;
    height: 15%;
    background-color: #a800ff;
}
.header-links{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 10%;
    padding-top: 2.7%;
}
.tbs{
    color: #571082;
    font-family: codec-extrabold;
    font-size: 25; 
    transition: 0.3s;     
    background: none;
    border: 0;
    cursor: pointer;
}
.tbs:hover{
    color: #ffffff;
    transition: 0.3s;
}
#user-details{
    background-color:#ffe100;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.5));
    border: 3px solid black;
    border-radius: 80px;
    float: right;
    margin-right: 3%;
    margin-top: -3%;
    width: 30%;
    height: 630%;
}
#user-avatar{
    width: auto;
    height: 23%;
    padding-top: 10%;
}
#user-name{
    font-family: codec-extrabold;
    color: #141414;
    font-size: 30;
    padding-top: 5%;
}
#user-score{
    font-family: codec-extrabold;
    color: #141414;
    font-size: 20;
    padding-top: 8%;
}
#floppie{
    width: auto;
    height: 8%;
    display: inline-block;
    padding-top: 3%;
}
#score-number{
    display: inline-block;
    font-family: codec-extrabold;
    color: #141414;
}
.user-cards{
    background-color: #141414;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
}
#card-text-1, #card-text-2, #card-text-3, #card-text-4{
    font-family: codec-extrabold;
    color: #ffffff;
    display: inline-block;
    font-size: 17;
}
#card-text-5, #card-text-6{
    font-family: codec-extrabold;
    color: #ffffff;
    display: inline-block;
    font-size: 15;
}
#back-bbt:link, #back-bbt:visited {
    background-color: #ffe100;
    color: #141414;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16;
    border-radius: 10px;
    transition: 0.3s;
    font-family: codec-extrabold;
}
#back-bbt:hover{
    background-color: #141414;
    transition: 0.3s;
    color: white;
}

/* graveyard */
@media screen and (min-width:1024px) {
    .scat {
        grid-template-columns: repeat(4, 1fr);
    }

    .divi {
        height: 34vh;
    }
}
@media screen and (min-width:720px) and (max-width:1023px) {
    .scat {
        grid-template-columns: repeat(3, 1fr);
    }

    .divi {
        height: 39vh;
    }

    .divi>p {
        overflow: none;
    }
}
@media screen and (max-width:719px) {
    .scat {
        grid-template-columns: repeat(2, 1fr);
    }

    .divi {
        height: 46vh;
    }

    .divi>p {
        overflow: none;
    }
}
.divi {
    width: 15vh;
    margin: 3%;
    height: 27vh;
    padding: 0% 5% 5% 5%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    background-repeat: round;
    background-size: contain;
    display: flex;
    flex-direction: column;
}
.topic {
    /* height: 20%; */
    width: 100%;
    display: flex;
    justify-content: end;
}
#pin {
    width: 50%;
    transform: translate(55px, -15px);
    /* filter:drop-shadow(-5px 5px 5px rgba(0,0,0,0.5)); */
}

.screen {
    height: 70%;
    margin: 12%;
    font-size: 25px;
    /* width: 30%; */
    /* background-color: #ddd; */
    /* box-shadow: 2px 2px 10px rgb(0, 0, 0) inset,
                -2px -2px 10px rgb(0, 0, 0) inset; */
    border-radius: 0.5rem;
    overflow: hidden;
}
.control {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.control button {
    /* height: 100%; */
    width: 30%;
    /* margin:2%; */
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.control>button>img,
.control>button>a>img {
    height: 30px;
    width: 30px;
    /* filter:drop-shadow(2px 2px 1px rgba(0,0,0,0.5)); */
}
.scat {
    grid-template-columns: repeat(4, 1fr);
    /* overflow-y:scroll; */
    display: grid;
    /* background-image: url("../media/background_2.png"); */
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    /* background-repeat:no-repeat; */
    background-size: round;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5) inset;
}
#graveyard-space{
    display: flex;
}
#set-title{
    font-family: codec-extrabold;
    font-size: 40;
    margin-left: 50;
    margin-top: 20;
}
#sets-title{
    font-family: codec;
    font-size: 20;
    margin-left: 100;
    margin-top: 20;
    float: left;
}
#cur-user{
    font-family: codec;
    float: right;
    margin-right: 250;
    margin-top: 26;
}
#cur-password{
    font-family: codec;
    float: right;
    margin-right: 300;
    margin-top: 26;
}
#change-username{
    float: right;
    font-family: codec;
    transform: translateX(-215px);
    margin-top: 20;
    font-size: 15;
    background-color: #141414;
    color: #ffffff;
    border-radius: 40px;
    width: 95;
    height: 25;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#change-username:hover{
    background-color: #ffffff;
    color: #141414;
    border: 2px solid #141414;
    transition: 0.3s;
}
#change-password{
    float: right;
    font-family: codec;
    transform: translateX(220px);
    margin-top: 20;
    font-size: 15;
    background-color: #141414;
    color: #ffffff;
    border-radius: 40px;
    width: 95;
    height: 25;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#change-password:hover{
    background-color: #ffffff;
    color: #141414;
    border: 2px solid #141414;
    transition: 0.3s;
}
#change-avatar{
    float: right;
    font-family: codec;
    transform: translateX(315px);
    margin-top: 20;
    font-size: 15;
    background-color: #141414;
    color: #ffffff;
    border-radius: 40px;
    width: 95;
    height: 25;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
#change-avatar:hover{
    background-color: #ffffff;
    color: #141414;
    border: 2px solid #141414;
    transition: 0.3s;
}
#delete-acc-bbt{
    font-family: codec-extrabold;
    color: #ff2e43;
    background: none;
    border: 3px solid #ff2e43;
    width: 200;
    height: 50;
    font-size: 20;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
    margin-left:100;
    margin-top: 40;
}
#delete-acc-bbt:hover{
    transition: 0.3s;
    background-color: #ff2e43;
    color: #ffffff;
}
#passChange{
    height: 50vh;
    width:25vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    overflow: hidden;
}
#passChange>input{
    padding:5px 0px;
    font-family:codec;
    margin:10px 0px;
    /* display: block; */
}
#form_change{
    position: absolute;
    font-family:codec-extrabold;
    left:25vw;
    top:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btn{
    margin-top: 12;
    height: 20%;
    width: 30%;
    font-size: 14;
    border-radius: 1rem;
    background-color: black;
    color: white;
    font-family: codec-extrabold;
    border: none;
}
#btn:hover{
    background-color: white;
    color: black;
}