@font-face{
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}
@font-face{
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../media/statsBG.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}
#control-header{
    width: 100%;
    height: 15%;
    background-color: #121212;
}
.control-header-links{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 10%;
    padding-top: 2.7%;
}
.tbs{
    color: #ffffff;
    font-family: codec-extrabold;
    font-size: 25; 
    transition: 0.3s;     
    background: none;
    border: 0;
    cursor: pointer;
}
.tbs:hover{
    color: #a3a3a3;
    transition: 0.3s;
}
.workspace-select{
    position: relative;
    text-align: center;
    top:120px;
    left:20px;
    margin-top: 20;
    margin-left: 30;
    outline: none;
    box-shadow: 2px 2px 4px black;
    height:3em;
}
#explore-panel{
    display: flex;
    margin-top: 60;
    margin-left: 40;
    border: 2px solid black;
    width: 65%;
    height: 500%;
    border-radius: 40px;
}
#insight-wrapper{
    display: inline-block;
}
#insight-panel{
    margin-top: 60;
    margin-left: 40;
    border: 2px solid black;
    width: 45%;
    height: 500%;
    border-radius: 40px;
}
#chart-panel{
    border: 2px solid black;
    width: 25%;
    height: 500%;
}
#explore-user-card{
    background-color: white;
    border: 2px solid black;
    width: 140;
    height: 120;
    border-radius: 50px;
    margin-top: 20;
    margin-left: 20;
}
#user-card-avatar{
    height: auto;
    width: 55;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25;
}
.user-name-card{
    font-family: codec-extrabold;
    color: black;
    text-align: center;
    margin-top: 10;
}
.workspace-select{
    font-family: codec;
    border: none;
    font-size: 14px;
}