@font-face{
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}
@font-face{
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
@font-face{
    font-family: cinderella;
    src: url('../media/Cinderela_Personal_Use.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../media/statsBG.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}
#control-header{
    width: 100%;
    height: 15%;
    background-color: #121212;
}
.control-header-links{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 10%;
    padding-top: 2.7%;
}
.tbs{
    color: #ffffff;
    font-family: codec-extrabold;
    font-size: 25; 
    transition: 0.3s;     
    background: none;
    border: 0;
    cursor: pointer;
}
.tbs:hover{
    color: #a3a3a3;
    transition: 0.3s;
}
.workspace-select{
    position: relative;
    text-align: center;
    top:120px;
    left:20px;
    margin-top: 20;
    margin-left: 30;
    outline: none;
    box-shadow: 2px 2px 4px black;
    height:3em;
}
#explore-panel{
    display: flex;
    margin-top: 70px;
    margin-left: 40;
    border: 2px solid black;
    width: 65%;
    height: 500%;
    border-radius: 40px;
}
#insight-wrapper{
    display: flex;
}
#insight-panel{
    flex: 1;
    left: 59%;
    top: 54px;
    margin-top: 60px;
    border: 2px solid black;
    width: 40%;
    height: 80%;
    border-radius: 40px;
    position: absolute;
}
#chart-panel{
    flex: 0 0 65%;
    border: 2px solid black;
    width: 56%;
    height: 100%;
    margin-top: 60px;
    margin-left: 20px;
    position: absolute;
    border-radius: 40px;
}
#rendcont{
    height:50%;width:100%;
}
#explore-user-card{
    background-color: white;
    border: 2px solid black;
    width: 140;
    height: 120;
    border-radius: 50px;
    margin-left: 20;
    transform: translateY(103px);
}
#explore-user-card-2{
    background-color: white;
    border: 2px solid black;
    width: 140;
    height: 120;
    border-radius: 50px;
    margin-left: 20;
    position: absolute;
    top: 80px;
}
#user-card-avatar{
    height: auto;
    width: 55;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25;
}
.user-name-card{
    font-family: codec-extrabold;
    color: black;
    text-align: center;
    margin-top: 10;
}
#workspace-select-explore{
    font-family: codec;
    border: none;
    font-size: 14px;
    position: absolute;
    top: 140px;
}
#workspace-select-insight-2{
    position: absolute;
    top: 140px;z-index:3;
}
.workspace-select{
    font-family: codec;
    border: none;
    font-size: 14px;
    position: absolute;
    top: 40px;
    left: 20px;
}
#chart-label{
  font-family:codec-extrabold;font-size:2.1em;
  color:grey;text-decoration: underline;
  position:relative;margin-left:8%;margin-right:8%;top:5%;
}
#rendcont{
  /* background:url('../media/background_5.png'); */
  background:url('../media/noteffy_loader.gif');
  background-size:100%;background-repeat:no-repeat;
  background-position: 50% 50%;
  outline:black;
  margin-top:10%;
  overflow:hidden;
  border-radius:2em;
}

/* calendar */
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}
.days li:hover{
  background: #1abc9c;
  color:white;
}
/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}