@font-face{
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}
@font-face{
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
@keyframes shake {
  00% {
      transform: rotate(0deg);
  }

  25% {
      transform: rotate(10deg);
  }

  50% {
      transform: rotate(-20deg);
  }

  75% {
      transform: rotate(10deg);
  }

  100% {
      transform: rotate(0deg);
  }
}
@font-face{
    font-family: cinderella;
    src: url('../media/Cinderela_Personal_Use.ttf');
}
@keyframes fade {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
    }
}
@font-face{
  font-family: cinderella;
  src: url('../media/Cinderela_Personal_Use.ttf');
}
*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url('../media/statsBG.png'); */
    background-color:#F7F8F8;
    background-size: auto 100%;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
#control-header{
    width: 100%;
    height: 15%;
    background-color: #141414;
}
.control-header-links{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-left: 10%;
    padding-top: 2.7%;
}
.tbs{
    color: #f1f1f1;
    font-family: codec-extrabold;
    font-size: 25; 
    transition: 0.3s;     
    background: none;
    border: 0;
    cursor: pointer;
}
.tbs:hover{
    color: #a3a3a3;
    transition: 0.3s;
}
#explore-panel{
    display: flex;
    margin-top: 70px;
    margin-left: 40;
    border: 2px solid #141414;
    width: 65%;
    height: 500%;
    border-radius: 40px;
}
#insight-wrapper{
    display: flex;
}
#insight-panel{
    flex: 1;
    left: 59%;
    top: 54px;
    margin-top: 60px;
    border: 2px solid #141414;
    width: 40%;
    height: 80%;
    border-radius: 40px;
    position: absolute;
}
#chart-panel{
    flex: 0 0 65%;
    border: 2px solid #141414;
    width: 50%;
    height: 70%;
    margin-top: 60px;
    margin-left: 20px;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5%;
    border-radius: 40px;

  }
#rendcont{
    height:100%;
    width:100%;
}
@keyframes fade {
    0%{
      opacity:1;
    }
    50%{
      opacity:0;
    }
    0%{
      opacity:1;
    }
}
#explore-user-card{
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(5px 5px 5px #000);
    padding-inline: 2%;
    padding-bottom: 1%;
    width: 100px;
    height: 120px;
    border-radius: 1rem;
    /* transform: translateY(103px); */
}
#explore-user-card-2{
    background-color: white;
    border: 2px solid black;
    width: 1460;
    height: 140;
    border-radius: 2rem;
    margin-left: 20;
    position: absolute;
    top: 80px;
}
#user-card-avatar{
    height: auto;
    width: 60;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25;
}
.user-name-card{
    font-family: codec-extrabold;
    color: black;
    text-align: center;
    margin-top: 10;
}
#workspace-select-explore{
    font-family: codec;
    border: none;
    font-size: 14px;
    position: absolute;
    top: 140px;
    font-weight: bold;
    
}
#workspace-select-insight-2{
  width: 50%;
}
#workspace-select-insight-2{
  position: absolute;
  top: 140px;
  z-index:3;
  color: #141414;
  width: 40%;
  margin-left: 5%;
  height: 5vh;
  font-size: 25;
  font-weight: bold;
  background-color: #ccc;
  border-radius: 10px;
}
#chart-label{
  font-family:codec-extrabold;
  font-size:1.5em;
  color:#141414;
  width:100%;
  position:relative;
  text-align: center;
  top: 20;
  margin-left: 150;
}
#rendcont{
  /* background:url('../media/background_5.png'); */
  background:url('../media/statsGIF.gif');
  background-size:100%;background-repeat:no-repeat;
  background-position: 50% 100%;
  outline:black;
  margin-top:10%;
  overflow:hidden;
  border-radius:2em;
}

/* calendar */
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 97%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  padding: 20px 0px;
}
.days li:hover{
  background: #1abc9c;
  color:white;
}
/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
/* form */
#admin-compose-bbt{
  position: absolute;
  right:9%;
  bottom:-15px;
  background: url('../media/workspaceEye.png');
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border-radius: 100%;
  width: 90px;
  height: 90px;
  background-position: center;
}
#admin-compose-bbt:hover{
  animation: shake 1s infinite ease-out;
}
.form-cal-task{
  animation:fade 0.4s ease-in-out;
  position:relative;
  top: -6%;
  right: -37%;
  display: grid;
  width: 28%;
  z-index:4;
  background: #ffffff;
  font-size: 2vw;
  border-radius:1rem;
  width: 40%;
  height: 70%;
  color:#000000;
  margin-top: 15vh;
  padding: 1%;
  font-family: codec-extrabold;
}
#Form_Caption{
  justify-self: center;
  font-family: codec-extrabold;
  font-size: 20;
}
#close-cal-task{
  position: absolute;
  top:-7px;
  left:-5px;
  height:50px;
  width:50px;
  cursor: pointer;
  border: none;
  background: none;
}
#cal-task-desc{
  font-family: codec-extrabold;
  margin-left: 38%;
  margin-top: 5%;
}
#cal-task-time{
  font-family: codec-extrabold;
  font-size: 20;
  margin-left: 45%;
}
#cal-event-title{
  font-family: codec-extrabold;
  font-size: 40;
  margin-left: 35%;
}
#close{
  top:-7px;
  left:-5px;
  height:50px;
  width:50px;
  cursor: pointer;
  border: none;
  background: none;
}
input[type="date"],input[type="text"],textarea{
  font-size: 20;
  font-family: codec;
  padding: 1%;
  border: none;
  border-bottom: 1px solid #555;
}
#Date{
  font-family: codec;
  padding: 10px;
  margin:5px;
}
#Time{
  font-family: codec;
  padding: 10px;
  margin:5px;
}
#Title{
  font-family: codec;
  padding: 10px;
  margin:5px;
}
#btn{
  margin-top: 12;
  width: 30%;
  height: 60%;
  font-size: 18;
  border-radius: 20rem;
  color: white;
  background-color: #ffffff;
  color: #000000;
  font-family: codec-extrabold;
  border: none;
}
#btn:hover{
  background-color: #1abc9c;
  color: #ffffff;
}
.slidecontainer {
  width: 100%;
}
.slider {
  width: 55%;
  position: absolute;
  height: 5px;
  right: 120px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  accent-color: #F55050;
}
.slider:hover {
  opacity: 1;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-image: url('../media/pin1.png') no-repeat;
  border: 0;
  accent-color: #000;
  cursor: pointer;
}

#markers option::before{
  content: '11234234234';
  display: block;
  font-size: 50px;
}
#explore-detail-render{
  height: 500%;
  width: 29%;
  margin-right: 20px;
  margin-top: -500px;
  position: justify;
  border: 2px solid black;
  float: right;
  border-radius: 30px;
}
#explore-avatar-render{
  width: 30%;
  height: auto;
  margin-left: 35%;
  margin-top: 5%;
}
#explore-name-rendered{
  font-family: codec-extrabold;
  font-size: 40;
  margin-left: 33%;
  margin-top: 5%;
}
#explore-gender-rendered,#user-gender,#explore-role-rendered,#user-role{
  font-family: codec;
  font-size: 23;
}
#explore-kudos-score{
  height: auto;
  width: 15%;
  margin-left: 42%;
}