 /* *{outline:0.2vw solid lime;} */
@font-face {
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}

@font-face {
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
@keyframes shake {
    00% {   transform: rotate(0deg);}
    25% {   transform: rotate(10deg);}
    50% {   transform: rotate(-20deg);}
    75% {   transform: rotate(10deg);}
    100% {  transform: rotate(0deg);}}
body {
    display: grid;
    place-items: center;
    background: url("../media/workspaceBGnew.png");
    background-size: 197% 100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.main-parent-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 197%;
}
.snapper{
    background-color: #ffffff77;
    height: 100%;
    width: 16%;
    position: absolute;
    top: 0;
    left: 95%;
    z-index: 10;
    font-family: monospace;
    font-size: 80;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.snapper>a{
    text-decoration: none;
    color: black;
}
.user-panel,.admin-panel {
    height: 100%;
    width: 97%;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    top: 0;
    right: 0;
}
.admin-panel{
    left: 0;
    display: flex;
    height: 100%;
    z-index: 2;
}
#top-container,.top{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.top {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
}
#prof {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
}
.tab {
    width: 90%;
    height: 12%;
    display: flex;
    justify-content: space-around;
}

.tab>button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 49.5%; */
    cursor: pointer;
    background-color: transparent;
}

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 74%;
    width: 90%;
    margin: 1%;
    border: 2px solid white;
    border-radius: 2rem;
}
.tile,.class{
    width: 23%;
    height: 32%;
    margin: 1%;
    padding: 1%;
    /* aspect-ratio: 9/16; */
    text-align: start;
    color: white;
    background-size:round;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.class{
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    /* background-size: 328px 187px; */
    justify-content: space-around;
    background-size:contain;
}
.class >.options{
    display: flex;
    flex-direction: column;
}
.options > button{
    display:block;
    /* margin:10%; */
    padding:6%;
    cursor:pointer;
    background-color: rgb(52,52,52,1.8);
    border-radius:3em;
    border: 2px solid white;
    color:white;
    width:100px;
}
#todo-admin-panel .classg{
    padding-left:10%;
}
.search-box{
    width: 20%;
    display: flex;
    margin-left: 40%;
}
#search {
    width: 80%;
    border-right: none;
    padding: 5%;
    height: 2vh;
    border-radius: 2rem;
    background-color: #444;
    color: white;
    font-size: 20;
    font-family: codec;
} 
#logo {
    font-family: codec-extrabold;
    color: #ffffff;
    font-size: 40;
    text-shadow: 0 0 0.36vw #fff;
    filter: drop-shadow(20px 10px 10px #444);
}
.tbs>img {
    background-color: transparent;
    height: 90%;
    opacity: 1;
    /* outline: 5px solid limegreen; */
}

.tbs {
    border: none;
}
.scat {
    grid-template-columns: repeat(4, 1fr);
    /* overflow-y:scroll; */
    display: grid;
    background-image: url("../media/background_2.png");
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    /* background-repeat:no-repeat; */
    background-size: round;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5) inset;
    /* outline: 5px solid greenyellow; */
}

@media screen and (max-height:500px) {
    .tab{
        height: 60px;
    }
}
@media screen and (orientation:portrait) {
    .tab{
        height: 50px;
        width: 100%;
        justify-content: center;
    }
    .menu{
        height: 2rem;
        width: 2rem;
    }
}
@media screen and (min-width:1024px) {
    .scat { grid-template-columns: repeat(4, 1fr);}
    .divi { height: 34vh;}
}

@media screen and (min-width:720px) and (max-width:1023px) {
    .scat {     grid-template-columns: repeat(3, 1fr);}
    .divi {     height: 39vh;}
    .divi>p {   overflow: none;}}

@media screen and (max-width:719px) {
    .scat {     grid-template-columns: repeat(2, 1fr);}
    .divi {     height: 46vh;}
    .divi>p {   overflow: none;}}

@keyframes fade {
    from {  opacity: 0;}
    to {    opacity: 1;}
}

.divi {
    width: 26vh;
    margin: 5%;
    height: 40vh;
    padding: 0% 5% 5% 5%;
    background-image: url("note2.png");
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
    background-repeat: round;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space;
}

.topic {
    /* height: 20%; */
    width: 100%;
    display: flex;
    justify-content: end;
}

.data {
    width: 90%;
    height: 70%;
    padding: 5% 5% 0 5%;
}

.title {
    width: 80%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    /* font-family: Minecraftia; */
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

#pin {
    aspect-ratio: 1/1;
    width: 30%;
    /* filter:drop-shadow(-5px 5px 5px rgba(0,0,0,0.5)); */
}

.screen {
    height: 70%;
    margin: 12%;
    font-size: 25px;
    /* width: 30%; */
    /* background-color: #ddd; */
    /* box-shadow: 2px 2px 10px rgb(0, 0, 0) inset,
                -2px -2px 10px rgb(0, 0, 0) inset; */
    border-radius: 0.5rem;
    overflow: hidden;
}

.control {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.control button {
    /* height: 100%; */
    width: 30%;
    /* margin:2%; */
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.control>button>img,.control>button>a>img{
    height: 30px;
    width: 30px;
    /* filter:drop-shadow(2px 2px 1px rgba(0,0,0,0.5)); */
}

.menu {
    height: 4rem;
    padding: 1rem;
    position: absolute;
    bottom: 10;
    border-radius: 50%;
    right: 0;
    display: grid;
    place-items: center;
    width: 4rem;
    /* border: 3px solid #73AD21; */
    margin: 2%;
}

.menu>a {
    display: flex;
    justify-content: center;
    font-family: codec;
    font-size: 18;
    text-shadow: 2px 2px #999;
    align-items: center;
}
.main::-webkit-scrollbar {
    width: 1%;
}

.main::-webkit-scrollbar-track {
    width: 1%;
}

.main::-webkit-scrollbar-thumb {
    width: 1%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8a6a3d #b5b5b5;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #b5b5b5;
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #23272e;
    border-radius: 9px;
    border: 1px solid #816846;
}

.lst::-webkit-scrollbar {
    width: 8px;
}

.lst::-webkit-scrollbar-track {
    background: #b5b5b5;
    border-radius: 1rem;
}

.lst::-webkit-scrollbar-thumb {
    background-color: #4c5564;
    border-radius: 19px;
    border: 1px solid #816846;
}
#prof {
    font-family: codec;
    font-size: 30;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px #777;
}

#log {
    font-family: codec-extrabold;
}

#sidepanel {
    position: absolute;
    top: 10;
    right: 0%;
    height: 98%;
    width: 20vw;
    background-color: white;
    z-index: 2;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.panel-user {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
}
#sidepanel-admin {
    position: absolute;
    top: 10;
    float: left;
    height: 98%;
    width: 20vw;
    background-color: white;
    z-index: 1;
    display: none;
}

.panel-user-admin {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
}
.panel-user-admin >label{
    font-size: 25;
    font-family: codec-extrabold;
}
.panel-user>img {
    filter: drop-shadow(-5px 5px 2px);
}

.panel-user>label {
    font-size: 25;
    text-shadow: none;
    font-family: codec-extrabold;
}

#sidepanel>ul,#sidepanel-admin>ul {
    width: 100%;
    font-size: 25;
    text-shadow: none;
    font-family: codec-extrabold;
    font-weight: bold;
    text-align: start;
    padding-left: 10%;
    padding-top: 10%;
}
/* #sidepanel-admin>ul {
    width: 100%;
    font-size: 25;
    text-shadow: none;
    font-family: codec-extrabold;
    text-align: start;
    padding-left: 10%;
    padding-top: 10%;
} */

#sidepanel>ul>li,#sidepanel-admin>ul>li {
    padding: 0.5rem 0 0.5rem 1rem;
    font-family: codec;
    transition: linear 0.15s;
}

#sidepanel>ul>li:hover ,#sidepanel-admin>ul>li:hover{
    background-color: rgb(200, 200, 200);
    filter: invert(1);
}

#sidepanel>ul>li>a,#sidepanel-admin>ul>li>a {
    color: black;
}
#sidepanel-admin>ul {
    text-align: end;
    /* list-style-type: none; */
    width: 80%;
    transform: translateX(0%);
}
/* #sidepanel-admin>ul>li {
    padding: 0.5rem 0 0.5rem 1rem;
    font-family: codec;
    transition: linear 0.15s;
    width: 100%;
} */

#sidepanel-admin>ul>li:hover {
    background-color: rgb(200, 200, 200);
    filter: invert(1);
}

#sidepanel-admin>ul>li>a {
    color: black;
}

#btn1:hover {
    animation: shake 1s infinite ease-out;
}
#note-compose-button {
    width: 40;
    padding: 0;
    margin: 0;
}
#task-compose-button {
    width: 60;
    height: 40;
    padding: 0;
    margin: 0;
}
#admin-control-panel{
    overflow-y: hidden;
}
#unlock-button{
    font-family: codec-extrabold;
    width: 130px;
    height: 70px;
    border-radius: 40px;
    background-color: #ffffff;
    color: #23272e;
    font-size: 20px;
    border: none;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 28%;
    transition: 0.5s;
    cursor: pointer;
    z-index: 1;
}
#unlock-button:hover{
    color: #ffffff;
    background-color: #23272e;
    transition: 0.5s;
}
#unlock-text-1{
    color: #ffffff;
    font-family: codec;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 40%;
    font-size: 30px;
}
#unlock-text-2{
    font-size: 30px;
    color: #ffffff;
    font-family: codec;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    font-family: codec;
}
#arrow-image{
    height: auto;
    width: 10%;
    top: 20%;
    left: 16%;
    position: absolute;
}
#user-admin-logo{
    height: 80%;
    aspect-ratio: 1/1;
    margin-left: 5%;
}
#workspaceBBT,#todoBBT{
    width: 80%;
    height: auto;
    cursor: pointer;
    filter: drop-shadow(-20px 10px 10px #444);
    opacity: 1;
    transition: opacity ease-in-out 0.1s;
}
#workspaceBBT:active,#todoBBT:active{
    opacity: 0.7;
}
#admin-nav-button-1{
    border: none;
    background: none;
}
#admin-nav-button-2{

    border: none;
    background: none;
}
#admin-workspace-panel{
    outline: 2px solid white;
    border-radius: 2rem;
    height: 80%;
    width: 96%;
    margin: 0% 2%;
    top: 120;
    z-index: -1;
    position: absolute;
    display: flex;
    opacity: 1;
}
#todo-admin-panel{
    outline: 2px solid white;
    border-radius: 2rem;
    height: 80%;
    width: 96%;
    margin: 0% 2%;
    top: 120;
    position: absolute;
    display: none;
    background: url("../media/statsBG.png");
}
#todo-message{
    font-family: codec;
    margin-top: 20%;
    font-size: 20;
}
.user-panel {
    left: 110%;
}
.admin-ctrls{
    width: 50%;
    display: flex;
    height: 100%;
    justify-content: space-around;
}
#quill-black{
    height: 15%;
    width: auto;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 25%;
}
#button-info-container,#unlock-images{
    display: none;
}  
.searchButton {
    width: 40px;
    height: 20px;
    background-color: #000000;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
    border-radius: 0 5px 5px 0;
}  
.searchButton:hover{
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}