*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: codec-extrabold;
    src: url('../media/Codec-Cold-Heavy-trial.ttf');
}
@font-face{
    font-family: codec;
    src: url('../media/Codec-Cold-Regular-trial.ttf');
}
@keyframes mascotmove{
    0%   {transform: translateX(0vw);opacity: 0;}
    100% {transform: translateX(2.19vw);opacity: 1;}
}
@media(max-width: 640px){
    
}
#sign-in-bg{
    background-image: url('../media/bg1.png');
    width: 100vw;
    height: 100vh;
}
#noteffy-title{
    width:  10.61vw;
    height: 4.02vw;
    padding-top: 1.46vw;
    padding-left: 1.46vw;
    position: absolute;
}
#mascot-1{
    width: 40.26vw;
    height: 35.13vw;
    padding-left:  5.12vw;
    padding-top: 6.58vw;
    animation: mascotmove 0.9s;
    animation-fill-mode: forwards;
}
.box-container{
    position: absolute;
    display: inline;
    padding-top: 1.83vw;
}
.white-box{
    width: 51.97vw;
    height: 44.65vw;
    float: right;
    padding-right: 0.73vw;
    background-color: #fff;
    border-radius: 7.32vw;
    position: absolute;
    display: block;
}
#title-heading{
    font-family: codec-extrabold;
    font-size: 3.66vw;
    padding-top: 5.49vw;
    padding-left: 4.02vw;
}
#form-1{
    padding-left: 5.71vw;
    padding-top: 2.19vw;
}
#form-2{
    padding-left: 5.71vw;
    padding-top: 1.46vw;
}
input, label{
    display: block;
}
label{
    font-family: codec-extrabold;
}
#form-1 input,#form-2 input{
    border: 1px solid #b8b8b8;
    width: 24.89vw;
    height: 2.92vw;
    padding-left: 0.73vw;
    border-radius: 2.19vw;
    margin-top: 0.73vw;
    font-family: codec-extrabold;
    margin-left: -1.09vw;
}
.form1-input,.form2-input{
    border: 1px solid #b8b8b8;
    width: 24.15vw;
    height: 2.19vw;
    padding-left: 0.73vw;
    border-radius: 2.19vw;
    margin-top: 0.36vw;
    font-family: codec-extrabold;
    margin-left: -1.09vw;
}
#log-bbt{
    text-decoration: none;
    font-family: codec-extrabold;
    border-radius: 1.46vw;
    background-color: #1c1c1c;
    width: 7.32vw;
    height: 3.29vw;
    text-align: center;
    color: #ffffff;
    border: none;
}
#log-bbt:hover{
    background-color: grey;
    color: #000000;
    transition: 0.3s;
    cursor: pointer;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 3.66vw;
    height: 1.75vw;
    margin-left: 1.46vw;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border: 1px solid #1c1c1c;
}
.slider:hover{
    box-shadow: 0 0 10px 2px #00ff15;
}
.slider:before{
    position: absolute;
    content: "";
    height: 1.09vw;
    width: 1.09vw;
    left: 0.29vw;
    bottom: 0.29vw;
    background-color: #00ff15;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider{
    background-color: #fff;
}
input:focus + .slider{
    box-shadow: 0 0 1px #00ff15;
}
input:checked + .slider:before{
    transform: translateX(1.68vw);
}           
.slider.round{
    border-radius: 3.22vw;
}
.slider.round:before{
    border-radius: 50%;
}
.sign-container{
    display: inline-block;
}
.sign-container1{
    display: inline-block;
    padding-top: 35%;
}
.sign-and-toggle-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0;
    width: 18.66vw;
}
#form-container2{
    display: none;
}
#otpform{
    display:flex;flex-direction:column;
    padding:0 10% 0 10%;
    align-items:center;
    justify-content:center;
}
#otpform ul{
    display:flex;flex-direction:row;
    height:80%;width:80%;
    align-items:center;
    justify-content:center;
}
#otpform ul li{
    list-style:none;
}
#otpform ul li input{
    list-style:none;
    height:10%;width:55%;
    display:inline-block;
    border-color:blue;
}
