*{
    padding:0;
    margin:0;
}
#title_logo{
    /* dimensions */
    max-height:50px;
    max-width: auto;

    /* margin-padding */
    margin:20px;
}
::-webkit-scrollbar{
    width:20px;
    background-color:#23272e;
}
::-webkit-scrollbar-track{
    width:100px;
    background-color:#23272e;
}
::-webkit-scrollbar-thumb{
    width:100px;
    background:url("../media/logo5mix.png") no-repeat;
    background-size: 400% 60px;
    background-position: 80% 100%;
}
body{
    height:330vh;
    background:#ddd;
}